DB_DRIVER=postgres
DB_SOURCE="postgresql://YOUR_USERNAME:YOUR_PASSWORD@localhost:5432/user_db?sslmode=disable"
SERVER_ADDRESS="0.0.0.0:8080"
GRPC_SERVER_ADDRESS="0.0.0.0:9090"
JWT_SECRET_KEY="YOUR_JWT_SECRET"